*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-style: normal;
}

body {
  font-family: Livvic;
  color: #FFFFFF;
}

h1, h2, h3 {
  font-style: normal;
  font-weight: bold;
}

p {
  font-weight: 600;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  width: 1130px;
  max-width: 100%;
  margin: auto;
}

@media only screen and (max-width: 868px) {
  .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
    width: 689px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 476px) {
  .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
    width: 327px;
    max-width: 100%;
  }
}

.header {
  background-color: #014E56;
}

.header .bar {
  display: none;
  position: absolute;
  top: 55px;
  right: 24px;
}

.header #check {
  display: none;
}

.header__wrapper {
  padding-top: 77px;
  padding-bottom: 10px;
}

.header__wrapper .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper .nav__list .exit__btn {
  display: none;
  position: absolute;
  top: 56px;
  right: 25px;
}

.header__wrapper .nav__list .sub__nav {
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__wrapper .nav__list .sub__nav__item {
  margin-right: 40px;
}

.header__wrapper .nav__list .sub__nav__item:last-child {
  margin-right: 0;
}

.header__wrapper .nav__item:nth-child(3) {
  margin-left: 80px;
  margin-right: auto;
}

.header__wrapper .nav__item .btn {
  border-radius: 48px;
  border: 2px solid #ffffff;
  padding: 10px 33px;
}

.header__wrapper .nav__item .btn:hover {
  background-color: #012F34;
  color: #ffffff;
}

.header__wrapper .nav__link {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.logo__phone {
  display: none;
}

@media only screen and (max-width: 868px) {
  .header {
    background-color: #014E56;
  }
  .header__wrapper {
    padding-top: 72px;
    padding-bottom: 10px;
  }
  .header__wrapper .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wrapper .nav__list .sub__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 48px;
  }
  .header__wrapper .nav__list .sub__nav__item {
    margin-right: 40px;
  }
  .header__wrapper .nav__list .sub__nav__item:last-child {
    margin-right: 0;
  }
  .header__wrapper .nav__item:nth-child(3) {
    margin-left: 48px;
    margin-right: auto;
  }
  .header__wrapper .nav__link {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
  }
}

@media only screen and (max-width: 476px) {
  .header .bar {
    display: block;
  }
  .header__wrapper {
    padding-top: 48px;
    padding-bottom: 10px;
  }
  .header__wrapper .nav__list {
    position: fixed;
    z-index: 2;
    background-color: #2C6269;
    top: 0;
    padding-top: 112px;
    right: 0;
    width: 250px;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__wrapper .nav__list .exit__btn {
    display: block;
  }
  .header__wrapper .nav__list .sub__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__wrapper .nav__list .sub__nav__item {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .header__wrapper .nav__list .sub__nav__item:last-child {
    margin-bottom: 36px;
  }
  .header__wrapper .nav__item:nth-child(2) {
    display: none;
  }
  .header__wrapper .nav__item:nth-child(3) {
    margin-left: 0;
    margin-right: auto;
  }
  .header__wrapper .nav__item .btn {
    border-radius: 48px;
    border: 2px solid #ffffff;
    padding: 10px 33px;
  }
  .header__wrapper .nav__item .btn:hover {
    background-color: #012F34;
    color: #ffffff;
  }
  .header__wrapper .nav__link {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
  }
  .logo__phone {
    display: block;
    width: 127px;
  }
  .logo__phone__img {
    width: 127px;
  }
}

#check:checked ~ .nav__list {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.talant {
  position: relative;
  padding: 133px 0 0;
  background-color: #014E56;
  background-image: url(../images/telent__img.svg);
  background-repeat: no-repeat;
  background-position: left 140px;
}

.talant__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../images/talent__img1.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.talant__header {
  max-width: 620px;
  font-size: 100px;
  line-height: 100px;
}

.talant__text {
  max-width: 445px;
  font-size: 18px;
  line-height: 28px;
}

.talant__bold {
  color: #F67E7E;
}

.talant__line {
  width: 50px;
  height: 4px;
  background-color: #79C8C7;
  border: none;
  margin-bottom: 79px;
}

@media screen and (max-width: 868px) {
  .talant {
    padding: 120px 0 0;
    background-image: none;
  }
  .talant__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 256px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-image: url(../images/talent__img1.svg);
    background-position: bottom center;
  }
  .talant__header {
    text-align: center;
    font-size: 64px;
    line-height: 56px;
  }
  .talant__text {
    margin-top: 24px;
    text-align: center;
    max-width: 457px;
    font-size: 15px;
    line-height: 28px;
  }
  .talant__line {
    display: none;
    margin-top: 24px;
  }
}

@media screen and (max-width: 476px) {
  .talant {
    padding-top: 80px;
  }
  .talant__wrapper {
    padding-bottom: 197px;
  }
  .talant__header {
    font-size: 40px;
    line-height: 40px;
  }
  .talant__text {
    margin-top: 18px;
    max-width: 327px;
  }
}

.team {
  padding: 140px 0;
  background-color: #012F34;
  background-image: url(../images/team.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__header {
  max-width: 445px;
  font-size: 48px;
  line-height: 48px;
}

.team__line {
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  border: none;
  margin-bottom: 54px;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.team__item:last-child {
  margin-bottom: 0;
}

.team__content {
  margin-left: 23px;
}

.team__text {
  max-width: 445px;
  margin-top: 16px;
  font-size: 15px;
  line-height: 25px;
}

.team__sub-header {
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
}

@media screen and (max-width: 868px) {
  .team {
    padding: 100px 0;
    background-image: url(../images/team.svg);
    background-position: right top;
  }
  .team__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .team__header {
    max-width: 445px;
    font-size: 32px;
    line-height: 32px;
  }
  .team__list {
    margin-top: 64px;
  }
  .team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 32px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
  .team__text {
    max-width: 478px;
  }
}

@media screen and (max-width: 476px) {
  .team {
    padding: 64px 0;
  }
  .team__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .team__header {
    max-width: 240px;
    font-size: 32px;
    line-height: 32px;
  }
  .team__list {
    margin-top: 56px;
  }
  .team__content {
    margin-top: 16px;
    margin-left: 0;
  }
  .team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 48px;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
  .team__text {
    max-width: 327px;
  }
}

.delivering {
  text-align: center;
  padding: 140px 0 150px;
  background-color: #004047;
  background-image: url(../images/delivery__recs.svg), url(../images/delivery__corner.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

.delivering__header {
  max-width: 932px;
  margin: 0 auto;
  font-size: 48px;
  line-height: 48px;
}

.delivering__header .success {
  color: #79C8C7;
}

.delivering__list {
  margin-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delivering__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.delivering__item:last-child {
  margin-right: 0;
}

.delivering__item::before {
  content: "";
  width: 67px;
  height: 56px;
  display: block;
  position: relative;
  z-index: -1;
  background-image: url(../../images/nail.svg);
  top: 20px;
}

.delivering__img {
  width: 62px;
}

.delivering__text {
  font-size: 15px;
  line-height: 25px;
}

.delivering__title {
  margin: 24px 0 2px;
  color: #79C8C7;
}

.delivering__job {
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 32px;
}

@media screen and (max-width: 868px) {
  .delivering {
    padding: 100px 0;
  }
  .delivering__header {
    max-width: 573px;
    font-size: 32px;
    line-height: 32px;
  }
  .delivering__list {
    margin-top: 84px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .delivering__item {
    max-width: 573px;
    margin-right: 0;
    margin-bottom: 84px;
  }
  .delivering__item:last-child {
    margin-bottom: 0;
  }
  .delivering__title {
    margin: 16px 0 2px;
  }
  .delivering__job {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 476px) {
  .delivering {
    padding: 164px 0;
  }
  .delivering__header {
    max-width: 327px;
  }
  .delivering__item {
    max-width: 327px;
  }
}

.ready {
  position: relative;
  background-image: url(../images/ready.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 76px 0 76px 259px;
  background-color: #F67E7E;
}

.ready__header {
  font-size: 48px;
  line-height: 48px;
  color: #012F34;
  margin-right: 260px;
}

.ready__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ready__btn {
  border-radius: 48px;
  border: 2px solid #ffffff;
  padding: 10px 33px;
  color: #012F34;
  border-color: #012F34;
}

.ready__btn:hover {
  background-color: #012F34;
  color: #ffffff;
}

.ready__btn:hover {
  color: #F67E7E;
  background-color: #012F34;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 868px) {
  .ready {
    padding: 84px 0 84px 97px;
  }
  .ready__header {
    font-size: 32px;
    line-height: 32px;
    margin-right: 84px;
  }
}

@media screen and (max-width: 476px) {
  .ready {
    padding: 83px 0 83px 0;
    text-align: center;
  }
  .ready__header {
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .ready__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer {
  padding: 48px 0;
  background-color: #002529;
}

.footer__copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.footer__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links {
  margin-right: 125px;
}

.footer__links-list {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links-item {
  margin-right: 40px;
}

.footer__links-item:last-child {
  margin-right: 0;
}

.footer__links-link {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}

.footer__text {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__socials .socials__item {
  margin-right: 16px;
}

.footer__socials .socials__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 868px) {
  .footer {
    padding: 56px 0;
  }
  .footer__logo {
    width: 96px;
  }
  .footer__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__links {
    margin-right: 0;
  }
  .footer__links-list {
    margin-top: 53px;
  }
  .footer__links-item {
    margin-right: 24px;
  }
  .footer__links-item:last-child {
    margin-right: 0;
  }
  .footer__links-link {
    font-size: 15px;
    line-height: 25px;
  }
  .footer__socials {
    margin-top: 33px;
  }
  .footer__text {
    text-align: end;
  }
}

@media screen and (max-width: 476px) {
  .footer {
    padding: 66px 0;
  }
  .footer__copyright {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
  }
  .footer__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 43px;
  }
  .footer__links-list {
    margin-top: 24px;
  }
  .footer__text {
    margin-top: 24px;
    text-align: center;
  }
  .footer__socials {
    margin-top: 42px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */