*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: Livvic;
  font-style: normal;
}

h1, h2, h3 {
  font-family: Livvic;
  font-style: normal;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  width: 1130px;
  max-width: 100%;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
    width: 708px;
    max-width: 100%;
  }
}

@media only screen and (max-width: 376px) {
  .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
    width: 347px;
    max-width: 100%;
  }
}

.header {
  background-color: #014E56;
}

.header .bar {
  display: none;
  position: absolute;
  top: 55px;
  right: 24px;
}

.header #check {
  display: none;
}

.header__wrapper {
  padding-top: 77px;
  padding-bottom: 10px;
}

.header__wrapper .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper .nav__list .exit__btn {
  display: none;
  position: absolute;
  top: 56px;
  right: 25px;
}

.header__wrapper .nav__list .sub__nav {
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__wrapper .nav__list .sub__nav__item {
  margin-right: 40px;
}

.header__wrapper .nav__list .sub__nav__item:last-child {
  margin-right: 0;
}

.header__wrapper .nav__item:nth-child(3) {
  margin-left: 80px;
  margin-right: auto;
}

.header__wrapper .nav__item .btn {
  max-width: 153px;
  height: 48px;
  border-radius: 48px;
  border: 2px solid #ffffff;
  padding: 10px 33px;
}

.header__wrapper .nav__item .btn:hover {
  background-color: #012F34;
  color: #ffffff;
}

.header__wrapper .nav__link {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.logo__phone {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header {
    background-color: #014E56;
  }
  .header__wrapper {
    padding-top: 72px;
    padding-bottom: 10px;
  }
  .header__wrapper .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wrapper .nav__list .sub__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__wrapper .nav__list .sub__nav__item {
    margin-right: 40px;
  }
  .header__wrapper .nav__list .sub__nav__item:last-child {
    margin-right: 0;
  }
  .header__wrapper .nav__item:nth-child(2) {
    margin-left: 48px;
    margin-right: auto;
  }
  .header__wrapper .nav__item .btn {
    max-width: 153px;
    height: 48px;
    border-radius: 48px;
    border: 2px solid #ffffff;
    padding: 10px 33px;
  }
  .header__wrapper .nav__item .btn:hover {
    background-color: #012F34;
    color: #ffffff;
  }
  .header__wrapper .nav__link {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
  }
}

@media only screen and (max-width: 376px) {
  .header .bar {
    display: block;
  }
  .header__wrapper {
    padding-top: 48px;
    padding-bottom: 10px;
  }
  .header__wrapper .nav__list {
    position: absolute;
    background-color: #2C6269;
    top: 0;
    padding-top: 112px;
    right: 0;
    width: 250px;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__wrapper .nav__list .exit__btn {
    display: block;
  }
  .header__wrapper .nav__list .sub__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__wrapper .nav__list .sub__nav__item {
    margin-right: 0;
    margin-bottom: 24px;
  }
  .header__wrapper .nav__list .sub__nav__item:last-child {
    margin-bottom: 36px;
  }
  .header__wrapper .nav__item:nth-child(2) {
    display: none;
  }
  .header__wrapper .nav__item:nth-child(3) {
    margin-left: 0;
    margin-right: auto;
  }
  .header__wrapper .nav__item .btn {
    max-width: 153px;
    height: 48px;
    border-radius: 48px;
    border: 2px solid #ffffff;
    padding: 10px 33px;
  }
  .header__wrapper .nav__item .btn:hover {
    background-color: #012F34;
    color: #ffffff;
  }
  .header__wrapper .nav__link {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
  }
  .logo__phone {
    display: block;
    width: 127px;
  }
  .logo__phone__img {
    width: 127px;
  }
}

#check:checked ~ .nav__list {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=main.css.map */