.container{
    box-sizing: border-box;
    padding: 0 10px;
    width:1130px;
    max-width: 100%;
    margin: auto;
}
@media only screen and (max-width:868px){
    .container{
        box-sizing: border-box;
        padding: 0 10px;
        width:689px;
        max-width: 100%;
    }
}
@media only screen and (max-width:476px){
    .container{
        box-sizing: border-box;
        padding: 0 10px;
        width:327px;
        max-width: 100%;
    }
}
